table, tr, td{
  border: 1px solid black;
}
td{
  text-align: center;
  width: 2ch;
  font-size: 1.5em;
}
#board{
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}