:root{
  padding-left: 15px;
}
.Stuff{
  border: 1px solid black;
  display: inline-block;
  width: 250px;
  height: 200px;
  margin-top: 5px;
}
.theStuff{
  display: grid;
  grid-template-columns: 1fr;
}